Django>=5.0
psycopg2-binary
dj-database-url
python-decouple
whitenoise[brotli]
gunicorn
razorpay
django-allauth
djangorestframework
djangorestframework-simplejwt
django-crispy-forms
crispy-bootstrap5
django-extensions
django-redis
redis
celery
requests
qrcode
Pillow
